.navi{
    width: 1140px;
    height: 151px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.uu{
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 20px;
}
.lo{
    color: #4E47FF;
}
.hi{
    width: 905px;
    height: 237px;
    margin: 0 auto;
    align-items: center;
}
.ju{
    align-items: center;
    width: 174px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    border-radius: 20px;
}
}
.first{
    width: 1440px;
    height: 698px;
    margin: 0 auto;
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
    align-items: center;
}
.second{
    width: 1140px;
    height: 328px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.imge{
    width: 403px;
    height: 328px;
    border-radius: 48px 10px 30px 20px;
}
.fu{
    width: 229px;
    height: 48px;
    color: white;
    background-color: #4E47FF ;
    border-radius: 20px;
}
}